{% extends 'webVotingApp/base.html' %}

{% block title %}
    About
{% endblock %}

{% block content %}
  <div class="row">
    <div class="offset-by-two eight columns">
    <h2>About</h2>
    <p>The Pritzker Military Museum Voting Application demo is usable with the following logins:
                <table>
            <tr>
                <th>Login ID</th>
                <td>selection_chair</td>
                <td>coordinator</td>
                <td>member_is_judge</td>
                <td>member_not_judge</td>
                <td>coworker</td>
                <td>sysadmin</td>
            </tr>
            <tr>
                <th>Login Password</th>
                <td>(secret)</td>
                <td>(secret)</td>
                <td>(secret)</td>
                <td>(secret)</td>
                <td>(secret)</td>
                <td>(secret)</td>
            </tr>

        </table>
        This application is implemented using <a href="https://www.djangoproject.com">Django</a>.</p>
    </div>
  </div>
{% endblock %}
