{% extends 'webVotingApp/base.html' %}
{%  load group_test %}
{% block title %}
    Error Delete Candidate
{% endblock %}

{% block content %}
    <div>
        <h2>Error Deleting Candidate</h2>
        <p>
        You may not delete candidate {{ candidate }}. This candidate has received the following votes:
        </p>
    {% if user|has_group:"wva_sysadmin" %}

        <ul>
            {% for vote in votes %}
                <li>
                <a href="{{ vote.get_absolute_url }}">{{ vote }}</a>
                </li>
            {% endfor %}
        </ul>

        <p>
        Return to <a href="{% url 'webVotingApp_candidate_list_urlpattern' %}">Candidate List</a>.
        </p>
    {% elif user|has_group:"wva_coordinator" %}
        <p>{{ votes.count }} Votes </p>
    {% endif %}
    <a href="{{ candidate.get_absolute_url }}"> Return to Profile </a>
    </div>
{% endblock %}
