{% extends 'webVotingApp/base.html' %}
{% load group_test %}
{% block title %}
    Candidate List
{% endblock %}

{% block create_button %}
    {% if perms.webVotingApp.add_candidate %}
    <a
        href="{% url 'webVotingApp_candidate_create_urlpattern'  %}"
        class="button button-primary">
      Create New Candidate</a>
    {% endif %}
{% endblock %}

{% block org_content %}
  <h2>Candidate List</h2>
    {% if perms.webVotingApp.add_candidate %}
    <div class="mobile">
      <a
          href="{% url 'webVotingApp_candidate_create_urlpattern' %}"
          class="button button-primary">
        Create New Candidate</a>
    </div>
    {% endif %}
  <ul>
  {% if user|has_group:"wva_member" or user|has_group:"wva_selection_committee" or user|has_group:"wva_selection_committee"%}
    {% for candidate in candidate_list %}
      <li>
        <a href="{{ candidate.get_absolute_url }}">
          {{ candidate }}</a>
      </li>
    {% empty %}
      <li><em>There are currently no candidates available.</em></li>
    {% endfor %}
  </ul>
      {% elif user|has_group:"wva_coordinator" or user|has_group:"wva_sysadmin" %}
          {% for candidate in candidate_list %}
      <li>
        <a href="{{ candidate.get_absolute_url }}">
          {{ candidate }}</a> <span
              {% if candidate.vote.count == 0 %} style="color:red;"{% else %} style="color:green"{% endif %}>
          {{ candidate.vote.count }} Votes</span>
      </li>
    {% empty %}
      <li><em>There are currently no candidates available.</em></li>
    {% endfor %}
  </ul>
  {% endif %}
{% endblock %}
