{% extends 'webVotingApp/base.html' %}
{% load group_test %}
{% block title %}
    Judge - {{ judge }}
{% endblock %}

{% block content %}
    <article>
        <div class="row">
            <div class="offset-by-two eight columns">
                <h2>{{ judge }}</h2>
                <ul class="inline">
{#                    {% if perms.webVotingApp.change_judge %}#}
{#                    <li>#}
{#                        <a href="{{ judge.get_update_url }}"#}
{#                           class="button">#}
{#                            Edit Judge</a></li>#}
{#                    {% endif %}#}
                {% if perms.webVotingApp.delete_judge %}
                    <li>
                        <a href="{{ judge.get_delete_url }}"
                           class="button">
                            Delete Judge</a></li>
                {% endif %}
                </ul>

                   <section>
        <table>

            <tr>
                <th>Judge Year:</th>
                <td>{{ judge.year }}</td>
            </tr>

            <tr>
                <th>Member:</th>
                <td><a href="{{ member.get_absolute_url }}">{{ member }}</a></td>
            </tr>
        </table>

    </section>

    <section>
        {% if user|has_group:"wva_coordinator" %}
            <h3>Votes</h3>

            Total Votes Cast: {{ vote_list.count }}

        {% elif user.id == judge.member.user.id %}
            <h3>Votes</h3>

             <p>These are your votes:</p>
            {% for vote in vote_list %}
                {% if vote.judge.member.user.id == user.id %}
                <li>
                    <a href="{{ vote.get_absolute_url }}">{{ vote }}</a>
                </li>
                {% endif %}
            {% empty %}
                <li><em>There are currently no votes available.</em></li>
            {% endfor %}
        {% elif user|has_group:"wva_sysadmin" %}
            <h3>Votes</h3>

        <ul>
            {% for vote in vote_list %}
                <li>
                    <a href="{{ vote.get_absolute_url }}">{{ vote.candidate }}</a>
                </li>
            {% empty %}
                <li><em>There are currently no candidates registered for this judge.</em></li>
            {% endfor %}
        {% endif %}
        </ul>
    </section>

            </div>
        </div> <!-- row -->

    </article>
{% endblock %}
