{% extends 'webVotingApp/base.html' %}
{% load group_test %}
{% block title %}
    Error Delete Judge
{% endblock %}

{% block content %}
    <div>
        <h2>Error Deleting Judge</h2>
        <p>
        You may not delete judge {{ judge }}. This judge has cast the following votes:
        </p>
    {% if user|has_group:"wva_sysadmin" %}

        <ul>
            {% for vote in votes %}
                <li>
                <a href="{{ vote.get_absolute_url }}">{{ vote }}</a>
                </li>
            {% endfor %}
        </ul>
        {% elif user|has_group:"wva_coordinator" %}
        <p>{{ votes.count }} Votes Cast</p>
    {% endif %}
        <p>
        Return to <a href="{% url 'webVotingApp_judge_list_urlpattern' %}">Judge List</a>.
        </p>
    </div>
{% endblock %}
