{% extends 'webVotingApp/base.html' %}
{% load group_test %}
{% block title %}
    Member - {{ member }}
{% endblock %}

{% block content %}
    <article>
        <div class="row">
            <div class="offset-by-two eight columns">
                <h2>{{ member }}</h2>
                <ul class="inline">

                    {% if perms.webVotingApp.delete_member %}
                        <li>
                            <a href="{{ member.get_delete_url }}"
                               class="button">
                                Delete Member</a></li>
                    {% endif %}
                </ul>

                <section>
                    <table>
                        <tr>
                            <th>First Name:</th>
                            <td>{{ member.user.first_name}}</td>
                        </tr>
                        <tr>
                            <th>Last Name:</th>
                            <td>{{ member.user.last_name }}</td>
                        </tr>
                    </table>
                </section>

                <section>

                {% if webVotingApp.view_judge %}
                    <h3>Years Member Judged</h3>
                    <ul>
                        {% for judge in judge_list %}
                            <li>
                                <p>{{ judge.year }}</p>
                            </li>
                        {% empty %}
                            <li><em>This member has no judging record in this system.</em></li>
                        {% endfor %}
                    </ul>
                {% endif %}
                </section>

            </div>
        </div> <!-- row -->

    </article>
{% endblock %}
