{%  extends 'webVotingApp/base.html' %}

{% block title %}
    Update
{% endblock %}

{% block content %}
    <form
        action="{{ vote.get_update_url }}"
        method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Update {{ noun }}</button>
    </form>
    <ul>
        {% for vote in user_votes %}
            <li>
            {{ vote.candidate }}
            </li>
        {% endfor %}
{#            {% for vote in vote %}#}
{#            <li>#}
{#            {{ vote.candidate }}#}
{#            </li>#}
{#        {% endfor %}#}
    </ul>
{% endblock %}
