{%  extends 'webVotingApp/base.html' %}

{% block title %}
Voting Page
{% endblock %}

{% block content %}
    <h1>Hi, {{ user.last_name}}</h1>
    <div class="intro">
        This is the text area where we introduce the first round of voting. Choose 5 candidates out of the 75
        candidates listed for our Lifetime Achievement Award in military writing and scholarship. The writers chosen in this
        round will move on to the next round of voting.
    </div>


    <div class="aside">
    <h2>Your Choices</h2>
    <ul id="choices">

    <div class="sticky" id="general">
        <h2>
            <i>You have <span class="counter"></span> choice(s) remaining</i>
        </h2>
    </div>

        <button id="submit" onclick="document.getElementById('selections').submit();">Submit your vote</button>
    </ul>
    </div>



            <div id="general-content" class="form">
                <h2>The Nominees:</h2>
                <form method="post" action="{% url 'webVotingApp_vote_create2_urlpattern2' %}"
                      id="selections" style="background-color: #d7cfc6">
                    {% csrf_token %}
                    <div class="subgrid">
                        {% for author in authors %}
                            <div>
                                <label for="{{ author.author_first_name}}{{author.author_last_name}}checkbox">
                                    {{author.author_first_name}} {{author.author_last_name}}{{author.author_id}}
                                </label>
                                <input class="form-check-input" type="checkbox"
                                       id="{{ author.author_first_name }}{{ author.author_last_name }}checkbox"
                                       name="{{ user.first_name }} {{ user.last_name }} {{ forloop.counter }}" value="{{ author.author_id }}" onchange="updateChoice(this, this.id)">
                                <br>
                                <a href={{ author.info_href }} target="_blank">Read More</a>
                            </div>
                        {% empty %}
                            <li><em>There are currently no candidates available.</em></li>
                        {% endfor %}
                    </div>
                </form>


            </div>



<script type = "text/javascript">


document.getElementById('submit').disabled = true;
document.getElementById('submit').style.backgroundColor = "grey";


$(function() {
    $('#general h2 .counter').text('5');
    var generallen = document.getElementsByClassName('form-check-input').length;
    if(generallen>0){$("#general h2 .counter").text('('+5-generallen+')');}else{$("#general h2 .counter").text('5');}
});

function updateCounter() {
    var len = $("input:checked").length;
	if(len>0){$("#general h2 .counter").text(5-len);}else{$("#general h2 .counter").text('5');}
}

$("#general-content input:checkbox").on("change", function() {
	updateCounter();

});

$(function() {
	$('.select_all').change(function() {
		let checkthis = $(this);
		let checkboxes = $(this).parent().next('ul').find("input[class='form-check-input']");

		if(checkthis.is(':checked')) {
			checkboxes.attr('checked', true);
		} else {
			checkboxes.attr('checked', false);
		}
        updateCounter();

	});

});

</script>

<script>
function updateChoice(state, id) {

    let author = document.getElementById(id).previousElementSibling.innerHTML;
    if (document.getElementById(id).checked)
    {
        document.getElementById(id).classList.toggle('checked');
        let choiceItem = document.createElement('li');
        let spacer = document.createElement('br');
        let choiceText = document.createTextNode(author);
        let clearChoiceButton = document.createElement('button');
        clearChoiceButton.setAttribute('id',id + "button");
        clearChoiceButton.innerText = 'x';
        clearChoiceButton.onclick = function(){document.getElementById(id).checked = false; updateCounter();
            enforceMaxChoices(); removeChoice(author, id)};
        choiceItem.appendChild(choiceText);
        choiceItem.appendChild(clearChoiceButton);
        choiceItem.setAttribute('id', author);
        choiceItem.setAttribute('style', 'text-align: left;');
        let choices = document.getElementById('choices');
        choices.insertBefore(choiceItem, choices.lastElementChild);
        choices.insertBefore(spacer, choices.lastElementChild);
    }
    else {
        removeChoice(author, id)

    }
    enforceMaxChoices()


}

function removeChoice(liId, checkboxID) {
    document.getElementById(liId).nextElementSibling.remove();
    document.getElementById(liId).remove();
    document.getElementById(checkboxID).classList.toggle('checked');


}

function enforceMaxChoices() {

    if ($("input:checked").length===5)
    {

        document.getElementById('submit').disabled = false;
        document.getElementById('submit').style.backgroundColor = '#4b6f31';

        let remaining = document.getElementById('general-content').getElementsByClassName('form-check-input');
        for (let i=0; i<remaining.length; i++) {

            if (remaining[i].classList.contains('checked')) {;}
            else{remaining[i].setAttribute('disabled', 'disabled');}


        }


    }
    else {
        document.getElementById('submit').disabled = true;
        document.getElementById('submit').style.backgroundColor = 'grey';
        let remaining = document.getElementById('general-content').getElementsByClassName('form-check-input');
        for (let i=0; i<remaining.length; i++) {
            remaining[i].removeAttribute('disabled')
        }

    }
}


</script>



{% endblock %}
